<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="MongoDumpDBConectionString" value="mongodb://localhost:27017/MovieDB2" />
    <add key="MongoDBConectionString" value="mongodb://localhost:27017/MovieDB3" />

    <add key="TmdbKey" value="09b13baae974ceebcd16e201b9c8b3fa" />
  </appSettings>
</configuration>